html, body {
	height: 100%;
	margin: 0;
	background-color: #080202;
	color: #666;
}

body {
	background: -webkit-linear-gradient(#200505 0%, #3A0404 100%);
}

body.peace {
	background: -webkit-linear-gradient(#05181F 0%, #042B3B 100%);
}

body.peace .main-wrapper {
	background-image: url('../img/background-peace.png');
}

.main-wrapper {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	background-image: url('../img/background-war.png');
	background-size: 100% auto;
	background-position: center top;
	background-repeat: no-repeat;
	overflow: hidden;
}

.partials, .labels, .grid, .random, .infobar-container {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}

.main-wrapper .grid {
	opacity: .86;

}

.main-wrapper .labels {
	opacity: .6;

}

.main-wrapper .partials {
	opacity: .8;
}

.main-wrapper .partials > img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}


.main-wrapper .partials > img.glow {
	-webkit-animation: glow 4s infinite;
	-moz-animation: glow 4s infinite;
}

.main-wrapper .random {
	opacity: .18;
}

.random .snippet {
	position: absolute;
	font: 10px arial;
	color: white;
}

.main-wrapper .infobar-container {
	top: auto;
	bottom: 0;
}

/*start loading animation*/
.disconnected {
	background: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1d1f20 100%);
	display: block;
	width: 100%;
	height: 100%;
	margin: auto;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 100;
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #02feff;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #02feff;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #02feff;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

/*end loading animation*/
/*start infobar*/
.infobar {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(30, 30, 30, 0.8);
  border-radius: 10px;
  text-align: center;
	margin: 15px;
	animation: pulse 1s linear infinite;
}
.infobar .title {
  color: #FFDDDD;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0px 0px 8px #FFDDDD;
	font-weight: 500;
}
.infobar .info {
  color: #FFFFFF;
  font-variant: small-caps;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0px 0px 8px #FFFFFF;
	font-weight: 500;
}

@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: .7; }
    100% { opacity: 1; }
}

@-webkit-keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: .7; }
    100% { opacity: 1; }
}

@-moz-keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: .7; }
    100% { opacity: 1; }
}
/*end infobar*/

@keyframes glow {
    0% { opacity: 1; }
    50% { opacity: .5; }
    100% { opacity: 1; }
}

@-webkit-keyframes glow {
    0% { opacity: 1; }
    50% { opacity: .5; }
    100% { opacity: 1; }
}

@-moz-keyframes glow {
    0% { opacity: 1; }
    50% { opacity: .5; }
    100% { opacity: 1; }
}
